name: Cypress Tests using Cypress Docker Image

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - "**"

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    container: cypress/browsers:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Checkout xblock-sdk repo
        uses: actions/checkout@v2
        with:
          repository: openedx/xblock-sdk
          path: xblock-sdk
      - uses: actions/setup-python@v5
        id: setup_python
        with:
          python-version: "3.12"
      - name: install dependencies of xblock-sdk
        working-directory: xblock-sdk
        run: |
          python3 -m pip install xblock-utils==4.0.0
          python3 -m pip install -qr requirements/dev.txt
          python3 -m pip install -qr requirements/local.txt

      - name: setup h5p xblock
        run: |
          python3 -m pip install .

      - name: Run xblock workbench
        working-directory: xblock-sdk
        env:
          EXCLUDE_SAMPLE_XBLOCKS: yes
        run: |
          python3 manage.py migrate --noinput
          python3 ./manage.py runserver &

      - name: Sleep for 5s to wait for django server getting up and running
        uses: juliangruber/sleep-action@v1
        with:
          time: 5s

      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          browser: chrome
          working-directory: tests/cypress
