name: Publish package to PyPi

on:
  push:
    tags:
      - '*'

jobs:

   push:
     runs-on: ubuntu-latest
     strategy:
       matrix:
         python-version: ['3.8', '3.12']
     steps:
       - name: Checkout
         uses: actions/checkout@v4
         
       - name: Set up Python ${{ matrix.python-version }}
         uses: actions/setup-python@v5
         with:
           python-version: ${{ matrix.python-version }}

       - name: Install setuptools and wheel
         run: python -m pip install --upgrade pip setuptools wheel

       - name: Build package
         run: python setup.py sdist bdist_wheel

       - name: Publish to PyPi
         uses: pypa/gh-action-pypi-publish@release/v1
         with:
           user: __token__
           password: ${{ secrets.PYPI_UPLOAD_TOKEN }}
